<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/everything.css">
  <link rel="stylesheet" href="css/container.css">
  <link rel="stylesheet" href="css/main_content.css">
  <link rel="stylesheet" href="css/category_chip.css">
  
  <title>Giám sát ngập lụt</title>
  <style>
  </style>
</head>

<body>
  <div class="nội-dung-chính">
      <div class="thanh-điều-hướng bộ-chứa">
        <div class="mục-tìm-đường chíp-danh-mục">Tìm đường</div>
        <div class="mục-tìm-không-gian-ngập chíp-danh-mục">Tìm không gian ngập</div>
        <div class="mục-gửi-thông-tin-ngập chíp-danh-mục">Gửi thông tin ngập</div>
        <div class="mục-đăng-nhập chíp-danh-mục">Đăng nhập</div>
      </div>
      <%- include('map.ejs') %>
    </div>
</body>

</html>