<div id="main-content">
    <div id="directions-content" class="feature-content">
      nội-dung-chỉ-đường
    </div>
    <div id="send-flood-content" class="feature-content">
      nội-dung-chỉ-đường
    </div>
    
  </div>