#login-wrapper {
    width: 100%;
    height: 100vh;
    background-color: rgb(225, 225, 225);
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
}

#login-form h2 {
    text-align: center;

}

#login-form label {
    margin: 5px 0;


}

#login-form input {
    padding: 10px 5px;
    border-radius: 4px;
    border: 1px solid gray;
}

#login-form button {
    margin: 5px 0;
    padding: 10px 5px;
    border-radius: 4px;
    border: none;
    background-color: rgb(100, 100, 100);
    color: white;
}

#login-form a {
    text-align: center;
}

#login-form a:hover {
    text-decoration: underline;
}

#error-message {
    background-color: rgb(246, 224, 224);
    border: rgb(203, 0, 0) solid 1px;
    color: red;
    padding: 5px 10px;
    text-align: center;
}

